nav {
  background: pink;
}

h3 {
  /* padding: 10px 100px 10px 100px; */
  font-weight: 1000;
}

.link {
  text-decoration: none;
  color:white;
}

.link:hover {
  color: grey;
}

.home-link {
  margin-left: 100px;
}

.show-link {
  margin-right: 100px;
}

@media (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}